<div>
  <h1><%= @list.name %></h1>

  <ul>
    <% @list.movies.each do |movie| %>
      <li>
        <strong><%= movie.title %></strong> (<%= movie.rating %> / 10)
      </li>
    <% end %>
  </ul>

  <%= link_to "Add a new bookmark", new_list_bookmark_path(@list) %>
</div>
